* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    padding: 18px;
}

p { 
    font-size: 1em;
    margin: 1em 0 1em;
}

h2 {
    font-size: 1.875em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

/* Header */

header {
    border-bottom: 1px solid #000;
}

.logo {
    font-family: "Snell Roundhand" ;
    font-size: 3.75em;
    font-weight: normal;
    text-align: center;
    margin: .7em 0 .7em;
}

/* Section */

section {
    display: flex;
    border: 1px solid #000;
    border-top: 2px solid #000;
}

section img {
    max-width: 100%;
}

section article {
    padding: .6em;
}

.quarter {
    width: 25%;
}

.half {
    width: 50%;
}

section article:first-child{
    border-right: 1px solid #000;
}

section article:last-child{
    border-left: 1px solid #000;
}

.article-title {
    margin: .8em 0 1em;
}


